snippet Main
#include <bits/stdc++.h>

using namespace std;

class Solution{
public:
	${1}
};

int main(){
	${2}
	cout << "Out: " << out << endl;
	return 0;
}
endsnippet
snippet main
int main(){
	${0}
	return 0;
}
endsnippet

endsnippet
snippet cout
cout << ${0} << endl;
endsnippet

snippet cin
cin >> ${0}
endsnippet

snippet int
int ${0} = ${1};
endsnippet

snippet char
char ${0};
endsnippet

snippet class
class ${1}{
	${2}
};
endsnippet
